<h1> Our team </h1>
<ul>
  <li><%= link_to "home", "/" %></li>
  <li><%= link_to "about", "/about" %></li>

</ul>

<%= link_to "https://www.facebook.com", target: "_blank" do %>
    <%= image_tag "girl.jpg", class: "girl-cs" %>
<% end %>

<%= link_to "https://www.facebook.com", target: "_blank" do %>
    <%= image_tag "boy.jpg", class: "boy-cs" %>
<% end %>
